/* To reset and Base Styles */
/* To apply box sizing to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*To add base styles to the body */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background: linear-gradient(to right, #f8f9fa, #e0f7fa);
  color: #333;
}

/* To wrap the content in a container and center it */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
}

/* Skip Link */
/* To provide a link for keyboard users to skip to the main content */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  z-index: 1000;
}

/* Link becomes visible when focused for keyboard navigation */
.skip-link:focus {
  top: 0;
}

/* For header styling */
header {
  background: #00838f; /* Background color */
  color: #fff; /* For white text */
  padding: 2rem 0;
  text-align: center;
  border-bottom: 5px solid #006064;
}

/* To style the main header text */
header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

/* To style the sub-header text */
header h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

/* To style header links */
header p a {
  color: #e0f7fa;
  text-decoration: underline;
}

/* For github link and button to star */
.link-github {
  display: inline-block;
  margin-top: 1rem;
  background: #004d40;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
}

/* Github icon in link*/
.link-github svg {
  width: 1rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

/* Navigation  styles */
/* Color for the navigation bar */
nav {
  background: #006064;
}

/* For unordered list inside nav */
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* For list items inside nav */
nav a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Hover effect for nav links */
nav a:hover {
  background: #004d40;
}
